apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: demo-certificate
spec:
  secretName: demo-cert
  isCA: false
  duration: 60m
  renewBefore: 59m
  commonName: example.com
  dnsNames:
  - example.com
  - www.example.com
  issuerRef:
    name: selfsigning-issuer
    kind: Issuer
